@font-face {
	font-family: BebasNeue;
	src: url('BebasNeue Regular.otf');
}

body {
	background-image: url('background.jpg');
	font-family: Tahoma, Arial, sans-serif;
}

p {
	margin: 0.7em 0;
}

.container {
	min-width: 400px;
	max-width: 1050px;
	margin: 0 auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.main {
	width: 100%;
	float: left;
	max-width: 100%;
}

.sidebar {
	float: left;
	position: relative;
	padding: 30px 0;
	width: 100%;
	height: auto;
}

.main .greeting, .main .message {
	margin-left: 20px;
	margin-right: 20px;
}

.greeting {
	background: rgba(110, 110, 110, 0.5);
	color: #fff;
	text-transform: uppercase;
	text-indent: 20px;
	padding: 1px 20px 20px 30px;
	margin-bottom: 30px;
	font-size: 22px;
	font-family: BebasNeue, "Arial Narrow", sans-serif;
}

.greeting strong {
	letter-spacing: 1px;
}

.message {
	margin-top: 35px;
	border: 2px solid #a6a6a6;
}

.message__inner {
	margin: 0 20px 0 0;
}

.login-info {
	border: 0;
	text-indent: 20px;
	margin-top: 30px;
	padding: 0 20px 0 30px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.login-link {
	color: #fff;
	font-size: 18px;
}

textarea {
	height: 300px;
	resize: none;
	display: block;
	padding: 5px 10px;
	width: 100%;
	border: 0;
	font-size: 18px;
}

input {
	display: block;
	margin: 20px auto 0 auto;
	background: #4f575e;
	text-transform: uppercase;
	color: #fff;
	padding: 10px 30px;
	width: 150px;
	border: 0;
	font-size: 22px;
	font-family: BebasNeue, "Arial Narrow", sans-serif;
}

.logo {
	display: block;
	margin: 35px 0;
}

.logo img {
	display: block;
	width: 160px;
	margin: 22px auto;
}

.submit-message {
	margin: 0 auto;
	color: #fff;
	width: 350px;
	font-size: 22px;
	font-family: BebasNeue, "Arial Narrow", sans-serif;
	text-align: center;
	letter-spacing: 1px;
}

.submit-message a {
	color: #fff;
}
